.DS_Store
.next
.vercel
.pnpm-store
node_modules
dist
coverage
outputs
work

.env
.env*.local
.env.production
.env.preview

*.log
*.tsbuildinfo

prisma/dev.db

credentials.json
google-credentials.json
*service-account*.json
eben-ezer-business-*.json
.env*
